@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');
@import "tailwindcss";

html,body {
  font-family: 'Plus Jakarta Sans', sans-serif !important;
   overflow-x: hidden;
}

@keyframes scrollX {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}


